body {
  font-family: sans-serif;
  font-size: 16px;
  color: white;
  background-color: rgb(34, 34, 34);
  padding-top: 40px;
  background-image: url(/assets/imgs/background/bg.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
}

/* h1 {
  position: fixed;
} */

.cell {
  padding: 5px;
  border: 1px solid grey;
  border-radius: 2px;
  cursor: pointer;
  background-color: inherit;
}

.move-row {
  display: contents;
}

.char-select {
  display: none; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.move-modal {
  background-color: rgb(59, 59, 59);
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  color: white;
  white-space: pre-line;
  text-align: center;
}

.icon-container {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  display: grid;
  grid-template-columns: fit-content(20%) repeat(4, 1fr);
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

.move-row:hover {
  background-color: rgb(59, 59, 59, 0.6);;
}

.sandwich-bar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.char-data {

}

#char-movelist {
  display: grid;
  grid-template-columns: fit-content(33%) repeat(7, 1fr);
  font-size: 16px;
  text-align: center;
  background-color: rgb(34, 34, 34, 0.7);
}

#char-body {
  transition: 0.5s;
}

#char-img {
  width: 500px;
}

#char-info {
  height: 500px;
}

#char-info p{
  display: flex;
  flex-wrap: flex;
  flex-direction: column;
  align-items: center;
}

#header-nav {
  padding: 10px;
  background-color: rgb(59, 59, 59);
  display: relative;
  top: 0;
  position: fixed;
  z-index: 2;
  width: 100%;
  /* transition: 0.5s; */
}

#sandwich-icon {
  width: 30px;
  padding: 3px;
  /* transition: 0.5s; */
}

#sticky-row {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
/* 
#sticky-row span {
  position: inherit;
} */