.char-icon {
  width: 100%;
}

.icon-div {
  position: relative;
  min-width: 250px;
  max-width: 500px;
  width: 15vw;
  border: 2px solid #888;
}

.icon-div:hover{
  background-color: rgb(0, 197, 204);
}

.icon-div img {
  height: 100%;
}

.icon-name{
  width: 100%;
  position: absolute;
  bottom: 10px;
  text-align: center;
  font-size: 200%;
  text-shadow: 5px 5px 5px black;
  font-style: italic;
  text-decoration: underline;
}

.move-modal {
  background-color: rgb(59, 59, 59);
  margin: 10% auto;
  padding: 25px;
  border: 1px solid #888;
  width: 40%;
  color: white;
  white-space: pre-line;
  text-align: center;
  display: absolute;
  align-content: left;
  /* display: inline-table; */
  animation-name: fadeinfromtop;
  animation-duration: 0.2s;
}

.icon-container {
  background-color: #575757;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
  max-width: 1175px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  grid-template-columns: fit-content(2%) repeat(3, 1fr);
  animation-name: fadeinfromtop;
  animation-duration: 0.2s;
}

#altname {
  /* position: relative; */
  text-align: left;
  /* display: inline-block; */
  /* padding-left: 20px; */
  margin-left: 32px;
}

#dmg-guard {
  display: flex;
  /* float: left; */
  margin-left: 20px;
}

#dmg-guard span {
  padding: 10px;
  width: 70px;
}

#description {
  text-align: left;
}

#frame-adv {
  display: flex;
  width: 165px;
  margin-left: 20px;
}

#frame-adv div {
  padding: 10px;
}


#move-name {
  background-color: rgb(105, 105, 105);
  width: 30%;
  text-align: center;
  margin: -50px 0 auto;
  padding: 3px;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid #888;
}

#motion {
  display: flex;
  height: 30px;
  width: 30px;
  margin-left: 20px;
}

#motion img{
  /* float: left; */
  display: relative;
  flex: 30%;
  padding: 2px;
}

#motion span{
  font-size: 30px;
}

#sar {
  display: flex;
  width: 30px;
}

#sar div {
  padding: 10px;
}

#startup, #active, #onblock, #damage {
  border-right: 1px rgb(41, 41, 41) solid;
}

@keyframes fadeinfromtop {
  from {margin-top: 4%; opacity: 0}
  to {margin-top: 10%; opacity: 1}
}